<!-- Header -->
<section id="header" class="dark">
    <header>
        <form action="/search" method="get">
            <div class="row half">
                <div class="3u -3u">
                    <input type="text" class="text settings" name="age" placeholder="Age" tabindex="1" required>
                    <div class="drop-menu">
                        <div class="arrow"></div>
                        <a href="#">Child</a>
                        <a href="#">Teen</a>
                        <a href="#">Young</a>
                        <a href="#">Middle aged</a>
                        <a href="#">Old</a>
                    </div>
                </div>
                <div class="3u">
                    <input type="text" class="text settings" placeholder="Gender" name="gender" tabindex="2" required>
                    <div class="drop-menu">
                        <div class="arrow"></div>
                        <a href="#">Female</a>
                        <a href="#">Male</a>
                    </div>
                </div>
            </div>
            <div class="row half">
                <div class="6u -3u">
                    <input type="text" class="text settings" placeholder="Relation" name="relation" tabindex="3" required>
                    <div class="drop-menu">
                        <div class="arrow"></div>
                        <a href="#">Family/Relative</a>
                        <a href="#">Friend</a>
                        <a href="#">Colleague</a>
                        <a href="#">Boss</a>
                        <a href="#">Stranger</a>
                        <a href="#">Casual Acquaintance</a>
                        <a href="#">Professional Contact</a>
                    </div>
                </div>
            </div>
            <div class="row half home-search-btn">
                <div class="4u -4u">
                    <input type="submit" class="button scrolly" value="Submit" tabindex="5">
                </div>
            </div>
        </form>
    </header>
</section>